.root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 177, 214);
    color:rgb(154, 167, 164);
    padding: 40px 20px;
}
#servicios {
    max-width: 1100px;
    margin: 0 auto;
    display: -ms-grid;
    gap: 20px;
    grid-template-columns: 1fr;
    animation:fade;
}

@media (min-width: 768px) {#servicion { grid-template-columns:repeat(2, 1fr);}}
@media (min-width: 1024px) {#servicios {grid-template-columns: repeat(3, 1fr);}}